.skill-badge {
    display: inline-block;
    margin-right: 10px; 
    padding: 5px 10px;
    background-color: #741fc5;
    border-radius: 5px;
  }
  
  .skill-badge:last-child {
    margin-right: 0; /* Remove margin from the last skill in the row */
  }
  